.CardLugar {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.CardLugar:hover{
  background-color: #EAECF8;
}

.CardLugar img{
  width: 180px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}

.CardLugar--text{
  width: 100%;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-left: 2rem;
} 

.CardLugar h1{
  font-weight: 400;
}

.CardLugar p{
  font-weight: 300;
  color: rgb(73, 73, 73);
}

